<html>
    <head></head>
    <body>
        <div class="sections">
            <div class="container">
                <div class="section-left">
                    <div class="menu-item">
                        <i class="fa fa-dashboard"></i>
                        {{#link-to}}
                        Report
                        {{/link-to}}
                        {{!-- <a href="\admin-home-page.report-page">Report</a> --}}
                    </div>

                    <div class="menu-item">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <a href="#">New Camp</a>
                    </div>
                    <div class="menu-item">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        <a href="#">Edit Stock</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <a href="#">View Camps</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="#">Sign out</a>
                    </div>
                </div>

            </div>
            
        </div>
       
    </body>
</html>
{{outlet}}
