<html>
    <<head></head>
    <body>
         <div class="sections">
                <div class="section-header">

                    <div class="global-header-one">
                    </div>

                    <div class="global-header-two">
                        <span class="global-header-label">
                            COVID-19 portal for vaccination Management
                        </span>
                        <marquee direction="left" class="global-marquee">
                           <span> Together we can reduce covid-19, Let's stop it!
                           </span>
                        </marquee>
                    </div>

                    <div class="global-header-three">
                    </div>

                </div>
         </div>
    </body>
</html>

{{outlet}}